*{
  margin: 0;
  padding: 0;
  font-family: 'Gylroy Regular', Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url(../fonts/gilroy/regular/Gilroy-Regular.eot);
  src: url(../fonts/gilroy/regular/Gilroy-Regular.eot) format('embedded-opentype'),
  url(../fonts/gilroy/regular/Gilroy-Regular.woff) format('woff'),
  url(../fonts/gilroy/regular/Gilroy-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  }

@font-face {
  font-family: 'Gilroy Italic';
  src: url(../fonts/gilroy/regular_italic/Gilroy-RegularItalic.eot);
  src: url(../fonts/gilroy/regular_italic/Gilroy-RegularItalic.eot) format('embedded-opentype'),
  url(../fonts/gilroy/regular_italic/Gilroy-RegularItalic.woff) format('woff'),
  url(../fonts/gilroy/regular_italic/Gilroy-RegularItalic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url(../fonts/gilroy/bold/Gilroy-Bold.eot);
  src: url(../fonts/gilroy/bold/Gilroy-Bold.eot) format('embedded-opentype'),
  url(../fonts/gilroy/bold/Gilroy-Bold.woff) format('woff'),
  url(../fonts/gilroy/bold/Gilroy-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url(../fonts/Myriad_Pro/regular/MyriadPro-Regular.eot);
  src: url(../fonts/Myriad_Pro/regular/MyriadPro-Regular.eot) format('embedded-opentype'),
  url(../fonts/Myriad_Pro/regular/MyriadPro-Regular.woff) format('woff'),
  url(../fonts/Myriad_Pro/regular/MyriadPro-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

.header_nav, .footer_nav {
  width: 100vw;
  height: 70px;
  background-color: #000000;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-right: 8%;
  padding-left: 8%;
  justify-content: space-between;
}

.header_nav_img {
  width: 166px;
  height: 67px;
  cursor: pointer;
}

.header_nav_burger {
  display: none;
}

.header_nav_list {
  display: flex;
}

.header_nav_list_item {
  list-style-type: none;
  margin-right: 42px;
}

.header_nav_list_item_link {
  font-family: 'Gilroy Regular', Arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  opacity: 0.69;
  line-height: 1.2;
  
}
.header_nav_list_item:last-child {
  margin-right: 0;
}

.header_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 8%;
  padding-left: 8%;
  background-image: url(../img/band_4671748_1920_1193.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 704px;
}

.header_box_description_caption {
  box-shadow: inset 0px 10px 38px 0px rgba(0,0,0,0.03);
  font-family: 'Gilroy Bold', Arial, Helvetica, sans-serif;
  font-size: 100px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  
}

.header_box_description_caption_h2 {
  font-size: 36px;
  font-family: 'Myriad Pro Regular', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  max-width: 458px;
  margin-top: 23px;
}

.header_box_description_caption_h2::after {
  margin-top: 32px;
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-bottom: 25px;
}

.header_box_description_specification {
  opacity: 0.8;
  font-family: 'Gilroy Regular', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
  border-color: transparent;
  max-width: 628px;
}

.header_box_description_button {
  font-family: 'Gilroy Regular', Arial, Helvetica, sans-serif;
  background-color: transparent;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  width: 135px;
  height: 42px;
  border: 2px solid #ffffff;
  margin-top: 33px;
}

.header_box_form {
  width: 360px;
  height: 366px;
  box-sizing: border-box;
}

.header_box_form_head {
  border-radius: 3px 3px 0 0;
  height: 54px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_box_form_head_caption1, .header_box_form_head_caption2 {
  font-family: 'Gilroy Regular';
  font-size: 22.6px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}

.header_box_form_head_caption1 {
  color: #000000;
}

.header_box_form_head_caption2 {
  color: #cc3333;
}

.header_box_form_foundation_label {
  padding-top: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.header_box_form_foundation_form_InputEmail, .header_box_form_foundation_form_Inputname, .header_box_form_foundation_form_InputNumber {
  width: 100%;
  height: 31px;
  border: 1px solid #f5f5f5;
  padding: 5px;
  box-sizing: border-box;
}

.header_box_form_foundation_form_InputNumber {
  margin-top: 35px;
  margin-bottom: 35px;
}

.header_box_form_foundation_form_InputEmail {
  margin-bottom: 47px;
}
.header_box_form_foundation_form_name {
  width: calc(100% - 75px);
}

.header_box_button {
  width: 100%;
  height: 54px;
  background-color: #cc3333; 
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  border: 0;
  border-radius: 0 0 3px 3px;
}

.col_box_article:nth-child(odd) {
background-color: #f5f5f5;
}

.col_box_article {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8%;
  padding-left: 8%;
}

.col_box_guitar_buttons {
  display: flex;
  flex-direction: column;
  width: 112px;
}

.col_box_guitar_button {
width: 112px;
height: 112px;
background-color: #212121;
border: 0.5px solid #f5f5f5;
text-transform: uppercase;
color: #ffffff;
}

.col_box_guitar_button:last-child {
  border-radius: 0 0 3px 3px;
}

.col_box_guitar_button:first-child {
  border-radius: 3px 3px 0 0 ;
}

.col_box_guitar_button:hover, .col_box_guitar_button:focus {
  background-color: #cc3333;
}

.col_box_guitar_header {
font-size: 25px;
line-height: 1.2;
font-weight: 400;
color: #000000;
}

.col_box_guitar_descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  max-width: 468px;
}

.col_box_guitar_description {
font-size: 14px;
line-height: 20px;
font-weight: 400;
color: #86878b;
margin-top: 50px;
margin-bottom: 50px;
}

.col_box_guitar_download {
border: 0;
width: 121px;
height: 46px;
background-color: #cc3333;
color: #ffffff;
border-radius: 3px;
}

.col_box_guitar_img {
  width: 40%;
}

.col_box_article {
padding-top: 90px;
padding-bottom: 165px;

}

.col_box_courseGuitar_img {
  width: 455px;
  height: 303px;
  opacity: 0.85;
  background-color: #000000;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.col_box_courseGuitar_img_mobile {
  display: none;
}

.col_box_courseGuitar_descriptions {
  max-width: 505px;
}

.col_box_courseGuitar_header {
  font-family: 'Gilroy Bold';
  text-transform: uppercase;
  font-size: 58.4px;
  line-height: 43px;
  font-weight: 700;
  color: #212121;
}
.col_box_courseGuitar_header::after {
  margin-top: 30px;
  margin-bottom: 30px;
  content: "";
  display: block;
  width: 64px;
  height: 2px;
  background-color: #cc3333;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.col_box_courseGuitar_description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
}

.col_box_courseGuitar_description_list {
  list-style-type: none;
}

.col_box_courseGuitar_description_list_item {
  background: url(../img/list_icon_upload_u127_114.png) no-repeat 0px 0px;
  padding-left: 70px;
  margin-top: 40px;
}

.col_box_courseGuitar_description_list_item:first-child {
  margin-top: 45px;
  padding-top: 0;
}

.col_box_courseGuitar_description_list_item_header {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #212121;
}


.col_box_courseGuitar_description_list_item_descr {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
}

.col_box_weAreGreat::before {
  content: '';
  background-image: url(../img/arrow.png);
  width: 88px;
  height: 75px;
  margin-top: -125px;
  padding-left: auto;
  padding-right: auto;
}

.col_box_detalis {
  display: flex;
  flex-direction: column;
}

.col_box_detalis_header {
  margin-top: 130px;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 43px;
  font-weight: 400;
  color: #212121;
}

.col_box_detalis_header::after {
  content: '';
  display: block;
  background-color: #cc3333;
  width: 64px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.col_box_detalis_description {
  display: block;
  font-size: 25px;
  line-height: 20px;
  font-weight: 300;
  font-style: italic;
  color: #86878b;
  margin-bottom: 40px;
}

.col_box_weAreGreat_description_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.col_box_weAreGreat_description_list_item {
  width: 30%;
  background-position: top center;
  list-style: none;
  background-repeat: no-repeat;
  padding-top: 75px;
  margin-top: 40px;
  text-align: center;
}

.weAreGreat_descr1 {
  background-image: url(../img/lamp-icon.png);
}

.weAreGreat_descr2 {
  background-image: url(../img/keyboard-icon.png);
}

.weAreGreat_descr3 {
  background-image: url(../img/mol-icons.png);
}

.col_box_weAreGreat_description_list_item_descr {
  display: none;
}

.descr_active {
  display: inline-block;
}

.col_box_weAreGreat_description_list_item_header {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
  cursor: pointer;
}

.col_box_weAreGreat_description_list_item_descr {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
}

.col_box_programPrice_description_list {
  width: 84vw;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: flex-end;
}

.programPrice_price {
  display: flex;
  flex-direction: column;
}

.programPrice_name {
  height: 59px;
  background-color: #212121;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.programPrice_name_span {
  font-size: 20.9px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.programPrice_price {
  display: block;
  background-color: #212121;
  text-align: center;
}

.programPrice_price::after {
  content: '';
  display: block;
  background-color: #cc3333;
  width: inherit;
  height: 5px;
}

.price_popular::after {
  content: 'самый популярный выбор';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cc3333;
  width: inherit;
  height: 40px;
  font-size: 16.7px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.programPrice_price_span {
  display: block;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 66.7px;
  font-weight: 400;
  color: #ffffff;
  min-height: 100px;
}

.programPrice_price_descr {
  display: block;
  height: 51px;
}

.programPrice_price_descr_span {
  opacity: 0.5;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
}

.programPrice_descr_list {
  list-style-type: none;
}

.col_box_programPrice_description_list_item {
  width: 343px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.programPrice_descr_list_item {
  width: inherit;
  display: block;
  height: 40px;
  border-bottom: 1px solid #f5f5f5;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.programPrice_descr_list_item_span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #86878b;
}

.col_box_reviews_list {
  display: flex;
  overflow-x: auto;
  width: 84vw;
  list-style-type: none;
  justify-content: space-between;
  align-items: flex-end;
}
.col_box_reviews_list::-webkit-scrollbar {
  display: none;
}

.col_box_reviews {
  padding-bottom: 100px;
}

.col_box_reviews_list_item {
  width: 273px;
  margin-right: 120px;
}
.col_box_reviews_list_item:last-child {
  margin-right: 0;
}


.review {
  box-sizing: border-box;
  padding: 23px 14px 25px;
  min-width: 273px;
  min-height: 147px;
  background-image: url(../img/review.png);
  background-repeat: no-repeat;
}

.review_text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-style: italic;
  color: #86878b;
}

.review_author {
  display: flex;
}

.review_author_photo {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.arrows_box {
display: flex;
margin-left: auto;
margin-right: auto;
}

.arrow {
  display: block;
  width: 50px;
  height: 50px;
  padding-top: 15px;
  cursor: pointer;
}

.arrow_left {
  transform: scale(-1,1)
}

.footer_form {
  display: flex;
}

.footer_form_foundation, .footer_form_message {
  display: flex;
  flex-direction: column;
  width: calc(42vw - 36px);
}
.footer_form_foundation_label {
  width: inherit;
  margin-bottom: 30px;
}

.footer_form_foundation_input {
  margin-right: 36px;
  width: inherit;
  height: 31px;
  border: 1px solid #bdbdbd;
  box-shadow: 0px 1px 0px 0px rgba(0,0,1,0.15);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333; 
  padding-left: 10px;
}

.footer_form_foundation_label:last-child {
  margin-bottom: 0;
} 

.footer_form_message_input {
  margin-left: 36px;
  width: inherit;
  height: inherit;
  border: 1px solid #bdbdbd;
  box-shadow: 0px 1px 0px 0px rgba(0,0,1,0.15);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333; 
  padding-left: 10px;
}

.footer_form_message_label {
  width: inherit;
  height: 100%;
}

.widget-socials {
  width: max-content;
  height: 85px;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.footer_nav {
  display: flex;
  align-items:center;
  justify-content: center;
}

.widget-social {
  margin-right: 50px;
}
.widget-social:last-child {
  margin-right: 0;
}

.widget-link {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}

.widget-link-instagram {
  background-image: url(../svg/social_media_logo_instagram_icon-icons.com_56669.svg);
}

.widget-link-vk {
  background-image: url(../svg/svg-editor-image.svg);
}

.widget-link-youtube {
  background-image: url(../svg/social_media_logo_youtube_icon-icons.com_56664.svg);
  display: none;
}

.link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

@media (max-width: 1200px) {
.menu_box {
  display: flex;
  flex-direction: column;
}

.header_nav_list {
  display: none;
  flex-direction: column;
  background-color: #000000;
  padding-top: 10px;
}

.header_nav_burger {
  display: none;
  width: 50px;
  height: 23px;
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  box-sizing: border-box;
}

.header_nav_burger::after {
  content: '';
  display: block;
  background-color: #ffffff;
  width: 50px;
  height: 5px;
  margin-top: 4px;
}

.menu_active {
  display: block;
}

.header_nav_list_item {
  min-height: 30px;
}

.header_nav_list_item_link {
  font-size: 20px;
}

.col_box_article {
  padding: 4%;
}

.col_box_courseGuitar_img {
  display: none;
}

.col_box_courseGuitar_img_mobile {
  align-self: center;
  display: block;
  opacity: 0.85;
  background-color: #000000;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
}


@media (min-width: 641px) and (max-width: 1200px) {
.menu_box {
  align-self: start;
  margin-top: 20px;
  align-items: flex-end;
}

.menu_active {
  position: relative;
  z-index: 1;
}

.header_box {
  padding: 2%;
}

.header_box_description {
  width: 45%;
}

.header_box_description_caption {
  font-size: 70px;
}

.col_box_guitar_button {
  width: 90px;
  height: 90px;
}
.col_box_guitar_img {
  width: 25%;
}
.col_box_guitar_download {
  align-self: flex-end;
}

.col_box_article {
  justify-content: center;
}

.col_box_courseGuitar_img_mobile {
  width: 455px;
}

.col_box_courseGuitar_descriptions {
  width: 85%;
  max-width: 100%;
  display: flex;
  flex-direction:column;
}

.col_box_courseGuitar_description_list {
  display: flex;
}
.col_box_courseGuitar_description_list_item {
  width: 50%;
}

.col_box_weAreGreat::before {
  margin-top: -55px;
}

.col_box_detalis_header {
  margin-top: 80px;
}

.col_box_programPrice_description_list {
  width: 100%;
}
}

@media (max-width: 640px) {
.header_nav_list {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 67px;
}
.header_nav_list_item {
  text-align: center;
  margin: 0;
}

.header_nav_list_item_link {
  text-transform: uppercase;
  text-decoration: none;
}

.header_box {
  flex-direction: column;
  height: auto;
  padding-top: 30px;
  height: auto;
  background-size: auto;
}

.header_box_form {
  width: 100vw;
  margin-top: 30px;
}

.header_box_description {
  width: 100%;
}

.header_box_description_caption {
  font-size: 50px;
}

.header_box_description_caption_h2 {
  font-size: 30px;
}
.col_box_article {
  flex-direction: column;
}

.col_box_guitar_buttons {
  flex-direction: row;
  width: 100%;
}

.col_box_guitar_descriptions {
  width: 80%;
  align-items: center;
  margin-top: 20px;
}

.col_box_guitar_img {
  width: 80%;
  margin-top: 20px;
}

.col_box_courseGuitar_img_mobile {
  width: 100%;
}
.col_box_courseGuitar_header {
  font-size: 30px;
  line-height: 20px;
  margin-top: 20px;
}

.col_box_weAreGreat::before {
  margin-top: -50px;
}

.col_box_bassGuitar {
  padding-bottom: 50px;
}

.col_box_weAreGreat_description_list_item {
  width: 50%;
}

.col_box_detalis_header {
  margin-top: 50px;
}

.col_box_programPrice_description_list {
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.footer_form {
  flex-direction: column;
  width: 100%;
}

.footer_form_foundation {
  width: 100%;
}

.footer_form_message_input {
  width: 100%;
  margin-left: 0;
  height: 100px;
  box-sizing: border-box;
}

.footer_form_foundation_input {
  box-sizing: border-box;
}

.footer_form_message {
  width: 100%;
  margin-top: 30px;
}
}